.header {
    height: 33vw;
    width: 78vw;
    margin: 30px auto;
    position: relative;
    border-radius: 30px;
    margin-top: 130px;
    overflow: hidden;
} 

.header-contents {
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 60%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
    text-align: left;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(2.5vw, 20px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 700;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

.carousel .slide {
    background: none; /* Elimina el fondo por defecto del carrusel */
}

.carousel-slide img {
    border-radius: 30px;
    height: 33vw;
    object-fit: cover;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .carousel-slide img{
        border-radius: 0;
        height: 300px;
    }
    .carousel .slide {
        height: 300px;
    }
    .header{
        border-radius: 0;
        height: 300px;
    }
    .header-contents {
        max-width: 70%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw 4vw;
    }
}
